html{
    overflow-y:scroll;
}

#externCompetitie table.table tr td{
    border-top:none;

}

.externalMatch .matchDetails{
    margin-top: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #e2e2e2;
}

.externalMatch .matchDetails table{
    margin-bottom: 10px;
}

.externalMatch .matchTitle{
    border-bottom: 1px solid #e4e4e4;
    border-left:4px solid transparent;
    min-height: 40px;
    overflow:auto;
    line-height:40px;
}

.externalMatch .matchTitle:hover, .externalMatch .matchTitle.active:hover{
    border-left: 4px solid #0059b3;
    background-color: #f4f4f4;
    cursor: pointer;
}

.externalMatch .matchTitle.active{
    border-left: 4px solid #0059b3;
    background-color: rgba(0,89,179,0.1);
}

.ng-enter, .ng-move{
       -webkit-transition:0.2s linear all;
       transition:0.2s linear all;
     }

.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.ng-enter {
    opacity:0;
    max-hight: 0px;
}

.ng-leave,
.ng-move.ng-move-active,
.ng-enter.ng-enter-active {
    opacity:1;
}

.inline-block{
    display: inline !important;

}