#content{
  #round{
    width:20%;
    margin-top: -50px;
    float: right;

    select{
      width:80%;
    }
  }

  #addMatch{
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba($primary-color, 1);
  }
  input[type=checkbox]{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}