#participants {
  ul {
    list-style-type: none;
    li {
      float: left;
      width: 100%;
      display: inline-block;
      padding: 16px;
      overflow: auto;
      clear:both;
      text-decoration: none;
      .move{
        height: 34px;
        line-height: 14px;
        padding: 10px;
        padding-right: 20px;
        width:20px;
        display:inline-block;
        cursor: move;
        &:hover{
          background-color: $primary-color;
          color: white;
        }
      }
      input{
        float: right;
      }
    }
  }
  .th{
    font-size: 16px;
    font-weight: bold;
  }
}
