#rounds {
  ul {
    list-style-type: none;
    padding-left: 5px;
    li.round {
      overflow: auto;
      text-decoration: none;
      line-height: 33px;
      padding: 10px;
      .panel{
        margin-bottom: 0px;
      }
      > div{
      }
      input {
        float: right;
      }
    }
  }
  a{
    cursor: pointer;
    &.active{
      color: orange;
    }
  }
  .th {
    font-size: 16px;
    font-weight: bold;
  }
}