@import 'variables';
@import 'seasons';
@import 'competition';
@import 'participants';
@import 'modal';
@import 'rounds';
@import 'settings';

body{
  overflow-y: scroll;

  td{
    font-size: 10pt;
  }
}
#navBar {
  width: 100%;
  position: fixed;
  padding: 10px;
  border-bottom: 3px solid $primary-color;
  z-index: 100;
  background-color: inherit;

  #brand {
    font-size: 32px;
    color: $primary-color;
  }
}

#content {
  padding-top: 60px;
}

.form-control, .btn{
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.btn{
  &:hover{
    -webkit-box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.37);
    box-shadow: 0px 2px 1px 0 rgba(0, 0, 0, 0.37);
  }
}

.addBar{
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: rgba($primary-color, 1);
}