<h1>Indeling - {{competitionSelect.naam}}</h1>
<div class="pull-right" id="round">
    <select  class="form-control pull-left"
            ng-init="getRounds(competitionSelect.id)"
            ng-model="roundSelect"
            ng-options="round.round for round in rounds | orderBy: 'round' track by round.id ">
        <option style="display:none" value="">Selecteer een ronde</option>
    </select>
    <button class="btn btn-success pull-right"><i class="fa fa-plus"></i></button>
</div>

<div ui-view></div>