<form class="form-horizontal">
    <div class="form-group col-sm-6">
        <label for="compName" class="col-sm-4 control-label">Competitie</label>
        <div class="col-sm-8">
            <input ng-model="competitionSelect.naam" type="text" class="form-control" id="compName" placeholder="Korte naam">
        </div>
    </div>
    <div class="form-group col-sm-6">
        <label for="naam_uitgebreid" class="col-sm-4 control-label">Naam uitgebreid</label>
        <div class="col-sm-8">
            <input ng-model="competitionSelect.naam_uitgebreid" type="text" class="form-control" id="naam_uitgebreid" placeholder="Uitgebreide naam">
        </div>
    </div>
    <div class="form-group col-sm-6">
        <label for="tempo" class="col-sm-4 control-label">Plaats</label>
        <div class="col-sm-8">
            <input ng-model="competitionSelect.plaats" type="text" class="form-control" id="tempo" placeholder="Amsterdam">
        </div>
    </div>
    <div class="form-group col-sm-6">
        <label for="speeltempo" class="col-sm-4 control-label">Land</label>
        <div class="col-sm-8">
            <input ng-model="competitionSelect.land" type="text" class="form-control" id="speeltempo" placeholder="Nederland">
        </div>
    </div>
    <div class="form-group col-sm-6">
        <label for="tempo" class="col-sm-4 control-label">Wedstrijdleider</label>
        <div class="col-sm-8">
            <input ng-model="competitionSelect.wedstrijdleider" type="text" class="form-control" id="tempo" placeholder="A.R. Biter">
        </div>
    </div>
    <div class="form-group col-sm-6">
        <label for="speeltempo" class="col-sm-4 control-label">E-mail wedstrijdleider</label>
        <div class="col-sm-8">
            <input ng-model="competitionSelect.wedstrijdleider_email" type="text" class="form-control" id="speeltempo" placeholder="mail@mail.nl">
        </div>
    </div>
    <div class="form-group col-sm-6">
        <label for="tempo" class="col-sm-4 control-label">Tempo</label>
        <div class="col-sm-8">
            <input ng-model="competitionSelect.stand_tempo" type="text" class="form-control" id="tempo" placeholder="tempo">
        </div>
    </div>
    <div class="form-group col-sm-6">
        <label for="speeltempo" class="col-sm-4 control-label">Tempo getypt</label>
        <div class="col-sm-8">
            <input ng-model="competitionSelect.speeltempo" type="text" class="form-control" id="speeltempo" placeholder="b.v. 1:30min + 15 sec per zet">
        </div>
    </div>
</form>