<div class="row">
    <div class="col-md-12">
        <h1>Competitie</h1>
        <table class="table">
            <tr><td>Competitie</td><td>{{competition.data.naam}}</td></tr>
            <tr><td>Tempo</td><td>{{competition.data.speeltempo}}</td></tr>
            <tr><td>Paringsystem</td><td>{{competition.data.naam}}</td></tr>
            <tr><td>Plaats</td><td>{{competition.data.plaats}}</td></tr>
            <tr><td>Land</td><td>{{competition.data.land}}</td></tr>
        </table>
    </div>
</div>
        <div class="row">
            <div class="col-md-2">
                <h2>Rondes</h2>
                <ul>
                    <li ng-repeat="round in rounds.data | orderBy : '-ronde'"><a ui-sref="intern.competition.round.standings({roundSelected : round.ronde})">{{round.ronde}} - {{round.datum}}</a></li>
                </ul>
            </div>
            <div class="col-md-10" >
                <ul class="nav nav-tabs">
                    <li role="presentation" ui-sref-active="active"><a ui-sref="intern.competition.round.standings">Stand</a></li>
                    <li role="presentation" ui-sref-active="active"><a  ui-sref="intern.competition.round.matches">Partijen</a></li>
                    <li role="presentation" ui-sref-active="active"><a  ui-sref="intern.competition.round.crosstable">Kruistabel</a></li>
                </ul>
                <div ui-view></div>

            </div>
        </div>