<div id="seasons">
    <h1>Seizoenen</h1>
    Klik op een seizoen om deze te selecteren en de bijbehorende competities weer te geven
    <div class="row">
        <div class="col-md-2" ng-repeat="season in seasons | orderBy: '-naam'">
            <div class="panel panel-default tile">
                <a ui-sref="internal.season({seasonId : season.id})">
                    <div class="panel-body">
                        {{season.naam}}
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>