    <div class="container-fluid">
        <div class="navbar-header"><a class="navbar-brand" href="#">SV Nieuwerkerk</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-menubuilder">
            <ul class="nav navbar-nav navbar-right">
                <li><a ui-sref-active="active" ui-sref="spelers">Spelers</a></li>
                <li><a ui-sref-active="active" ui-sref="intern">Intern</a></li>
                <li><a ui-sref-active="active" ui-sref="extern">Extern</a></li>
                <li><a ui-sref-active="active" ui-sref="historie">Historie</a></li>
            </ul>
        </div>
    </div>